## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [13]:
# Write your code here
my_list = [15, 78, 10, 45, 89]
def swap(mylist):
    my_list[0], my_list[-1] = my_list[-1], my_list[0]
    return my_list
swap(my_list)

[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
# Write your code here
x = 1204
y = 344536

def adds(a,b):
    global x,y
    add = x+y
    
    return add

adds(1204,344536)

345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [15]:
# Write your code here
def even_odd(a):
    if a%2==0:
        print(a,"is a even number")
    else:
        print(a,"is a odd number")
    
even_odd(33)

33 is a odd number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [24]:
# Write your code here
def factorial(n):
    if n == 1:
         return 1
    else:
        return (n*factorial(n-1))
    
factorial(5)

120

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [50]:
# Write your code here
def new_lis(*t):
    lis = []
    for i in t:
        lis.append(i)
    return lis

In [51]:
new_lis(1,2,3)

[1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# Write your code here
a = (input("Enter 1st word: "))
b = (input("Enter 2nd word: "))

def test(x,y):
    if x[0].lower() == y[0].lower():
        print("Both the words starts with same character")
    else:
        print("Not starts with same character")
test(a,b)

Enter 1st word: python
Enter 2nd word: Public
Both the words starts with same character

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
# Write your code here
a = input("Enter string: ")

def check_vowel(x):
    for i in x:
        if i.lower() in 'aeiou':
            return "String contains vowel"
    else:
         return "Does not contains vowel" 
        
             
check_vowel(a)

Enter string: hello

'String contains vowel'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [12]:
# Write your code here
def unique_values(lis):
    return list(set(lis))

my_list =  [1,2,3,3,11,34,3,3,4,5]
unique_values(my_list)

[1, 2, 3, 34, 4, 5, 11]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [20]:
string1 = 'Angel'
string2 = 'apple'

In [21]:
# Write your code here
def common_character(a,b):
    return set(a).intersection(set(b))

In [22]:
common_character(string1,string2)

{'e', 'l'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [23]:
# Write your code here
def operation(a,b):
    print('addition', a+b)
    print('multiplication', a*b)
    print('subtraction', a-b)
    
operation(15,4)

addition 19
multiplication 60
subtraction 11

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [27]:
# Write your code here
def sum_n(lis):
    return sum(lis)

In [28]:
my_list = [34, 34, 55, 2, 56, 45]
sum_n(my_list)

226

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [54]:
# Write your code here
(lambda x,y : x if x<y else y)(34,78)

34

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [31]:
# Write your code here
number = (11, 21, 30, 34)
tuple(map(lambda x: x**2, number))

(121, 441, 900, 1156)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [33]:
# Write your code here
sentence = 'Python for Data Science'
sentence.split()

['Python', 'for', 'Data', 'Science']

In [36]:
list(map(lambda x: len(x), sentence.split()))

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [40]:
# Write your code here
numbers = [ 74, 85, 14, 23 ]
list(map(lambda x: x%5, numbers))

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

In [42]:
# Write your code here
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

list(map(lambda x,y: x+str(y),list1,list2))

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [45]:
# Write your code here
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

list(filter(lambda x: x in arr1, arr2))

['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [8]:
# Write your code here
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
list(filter(lambda x: x%2 == 0, numbers))

[110, 352, 278]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [49]:
# Write your code here
from functools import reduce
reduce(lambda x,y: x+y, range(1,101))

5050

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [50]:
# Write your code here
my_list = [47,11,42,102,13]
reduce(lambda x,y: x if x>y else y, my_list)

102

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. A 5 star hotel is maintaining its order history in the dictionary in the given format. Find out which food item is ordered the least

order_id: [list of items ordered]

order_history= {161:['Noodles','Tomato Soup','Fries'],162:['Rice Idli','Rawa Dosa','Fries'],163:['Fries','Noodles'],164:['Rice', 'Idli','Rawa Dosa','Fries','Noodles']}..<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
# Write your code here
order_history= {161:['Noodles','Tomato Soup','Fries'],162:['Rice Idli','Rawa Dosa','Fries'],163:['Fries','Noodles'],164:['Rice', 'Idli','Rawa Dosa','Fries','Noodles']}
order_history

food_list=[]
for i in order_history.values():
    for j in i:
        food_list.append(j)

food_list

uni_foodList = set(food_list)
uni_foodList

count_foodItem={}
for i in uni_foodList:
    count_foodItem[i] = food_list.count(i)
count_foodItem.values()
from functools import reduce
min_order = reduce(lambda x,y: x if x<y else y,count_foodItem.values())
min_order
list(filter(lambda x: x[1]==min_order,count_foodItem.items()))

[('Rice Idli', 1), ('Tomato Soup', 1), ('Idli', 1), ('Rice', 1)]